<div>
  <!-- Fertigkeitswert: data.value; Schwierigkeit: data.difficulty; Modifikation: data.mod; Würfelergebnis: data.dieResult; Gesamt: data.total; Erfolgsgrade: data.erfolgsgrade-->
  <div class="dice-roll">
    <div class="dice-result">
      {{{tooltip}}}
      {{#if data.triumph}}
      <h4 class="dice-total roll-success">Triumph: {{total}} ({{erfolgsgrade}} EG)</h4>
      {{else if data.patzer}}
      <h4 class="dice-total roll-nosuccess">Patzer: {{total}} ({{erfolgsgrade}} EG)</h4>
      {{else if data.success}}
      <h4 class="dice-total roll-success">{{total}} ({{erfolgsgrade}} EG)</h4>
      {{else}}
      <h4 class="dice-total roll-nosuccess">{{total}} ({{erfolgsgrade}} EG)</h4>
      {{/if}}
    </div>
  </div>
  {{#iff data.item.type '==' 'weapon'}}
  <div>
    <span >Schaden: [[/roll {{data.item.data.damage}}]] </span>
  </div>
  {{/iff}}
  {{#iff data.item.type '==' 'spell'}}
  <div>
    <b>Beschreibung:</b><br/> 
    {{localize (concat (concat "spell." data.item.data.id) ".desc")}}
  </div>
  {{/iff}}
</div>