<form>
    {{#if data.extraText}}
    <span style="color: teal">{{data.extraText}}</span><br/>
    {{/if}}
    <div class="form-group">
        <label>Schwierigkeit</label>
        <input type="text" name="difficulty" value="{{data.difficulty}}" />
    </div>
    <div class="form-group">
        <label>Mod</label>
        <input type="text" name="mod" value="0"/>
    </div>
    <div class="form-group">
        <label>Modus</label>
        <select name="rollMode">
        {{#select rollMode}}
        {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>
</form>