<div class="dice-tooltip">
    <section class="tooltip-part">
        <div class="dice">
            <header class="part-header flexrow">
                <span class="part-formula">{{data.formula}}</span>
                {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                {{#if data.success}}
                <span class="part-total roll-success">{{data.total}}</span>
                {{else}}
                <span class="part-total roll-nosuccess">{{data.total}}</span>
                {{/if}}
            </header>
            <ol class="dice-rolls">
                {{#each data.rolls}}
                {{#if this.active}}
                <li class="roll roll-d10-active">{{{this.diceResult}}}</li>
                {{else}}
                <li class="roll roll-d10-inactive">{{{this.diceResult}}}</li>
                {{/if}}
                {{/each}}
            </ol>
            {{#if data.success}}
            <span>Erfolg</span>
            {{else}}
            <span>Misserfolg</span>
            {{/if}}
            <div>
                {{{data.egText}}}
            </div>
        </div>
    </section>
</div>