<form class="flexcol {{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{item.name}} (Gear)" height="100"
      width="100" />
    {{!-- Basic data --}}
    <div class="attribute-table">
      <table>
        <tr class="head">
          <th>{{localize "sm.item.availability.label"}}</th>
          <th>{{localize "sm.item.price"}}</th>
          <th>{{localize "sm.item.load"}}</th>
          <th>{{localize "sm.item.rigidity"}}</th>
          <th>{{localize "sm.item.complexity.label"}}</th>
        </tr>
        <tr>
          <td>
            <select name="data.availability">
              {{#select data.availability}}
              <option value="">{{localize "sm.item.availability.none" }}</option>
              <option value="VILLAGE">{{localize "sm.item.availability.village" }}</option>
              <option value="SMALL_TOWN">{{localize "sm.item.availability.small_town"}}</option>
              <option value="LARGE_TOWN">{{localize "sm.item.availability.large_town"}}</option>
              <option value="CAPITAL">{{localize "sm.item.availability.capital" }}</option>
              {{/select}}
            </select>
          </td>
          <td><input type="text" name="data.price" value="{{data.price}}" /></td>
          <td><input type="text" name="data.load" value="{{data.load}}" /></td>
          <td><input type="text" name="data.rigidity" value="{{data.rigidity}}" /></td>
          <td>
            <select name="data.complexity">
              {{#select data.complexity}}
              <option value="">{{localize "sm.item.complexity.none" }}</option>
              <option value="INEXPERIENCED">{{localize "sm.item.complexity.inexperienced"}}</option>
              <option value="CRAFTSMEN">{{localize "sm.item.complexity.craftsmen"}}</option>
              <option value="EXPERT">{{localize "sm.item.complexity.expert" }}</option>
              <option value="MASTER">{{localize "sm.item.complexity.master" }}</option>
              {{/select}}
            </select>
          </td>
        </tr>
        <tr class="head">
          <th colspan="2">{{localize "sm.item.type"}}</th>
          <th colspan="3">{{localize "sm.item.skill"}}</th>
        </tr>
        <tr>
          <td colspan="2"><input type="text" name="data.type" value="{{data.type}}" /></td>

          <td colspan="3">
            <select name="data.skill">
              {{#select data.skill}}
              <option value="">{{localize "sm.item.complexity.none" }}</option>
              {{#each config.fightskills as |skill id|}}
              <option value="{{id}}">{{skill}}</option>
              {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
      </table>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Weapon data --}}
    <div class="attribute-table">
      <table>
        <tr class="head">
          <th width="3em">{{localize "sm.item.damage"}}</th>
          <th width="2em">{{localize "sm.item.speed"}}</th>
          <th width="5em" colspan="3">{{localize "sm.item.attributes"}}</th>
          <th width="3em">{{localize "sm.item.requires"}}</th>
          <th>{{localize "sm.item.features"}}</th>
        </tr>
        <tr>
          <td width="3em"><input type="text" name="data.damage" value="{{data.damage}}" /></td>
          <td width="2em"><input type="text" name="data.speed" value="{{data.speed}}" /></td>
          <td width="2em">
            <select name="data.attribute1">
              {{#select data.attribute1}}
              {{#each config.attributes as |attr id|}}
              <option value="{{@id}}">{{attr}}</option>
              {{/each}}
              {{/select}}
            </select>
          </td>
          <td>+</td>
          <td width="2em">
            <select name="data.attribute2">
              {{#select data.attribute2}}
              {{#each config.attributes as |attr id|}}
              <option value="{{@id}}">{{attr}}</option>
              {{/each}}
              {{/select}}
            </select>
          </td>
          <td width="3em"><input type="text" name="data.requires" value="{{data.requires}}" /></td>
          <td><input type="text" name="data.features" value="{{data.features}}" /></td>
        </tr>
      </table>
    </div>
  </section>
</form>