<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}} (NPC)" height="100" width="100" />
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Werte</a>
        <a class="item" data-tab="description">Beschreibung</a>
        <a class="item" data-tab="items">Ausrüstung</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
    
        {{!-- Attribute --}}
        <div class="attribute-table">
          <table>
            <tr class="head">
              <th>AUS</th><th>BEW</th><th>INT</th><th>KON</th><th>MYS</th><th>STÄ</th><th>VER</th><th>WIL</th>
            </tr>
            <tr>
              <td><input type="text" name="data.attr.aus.value" value="{{data.attr.aus.value}}"/></td>
              <td><input type="text" name="data.attr.bew.value" value="{{data.attr.bew.value}}"/></td>
              <td><input type="text" name="data.attr.int.value" value="{{data.attr.inn.value}}"/></td>
              <td><input type="text" name="data.attr.kon.value" value="{{data.attr.kon.value}}"/></td>
              <td><input type="text" name="data.attr.mys.value" value="{{data.attr.mys.value}}"/></td>
              <td><input type="text" name="data.attr.sta.value" value="{{data.attr.sta.value}}"/></td>
              <td><input type="text" name="data.attr.ver.value" value="{{data.attr.ver.value}}"/></td>
              <td><input type="text" name="data.attr.wil.value" value="{{data.attr.wil.value}}"/></td>
            </tr>
            <tr class="head">
              <th>GK</th><th>GSW</th><th>LP</th><th>FO</th><th>VTD</th><th>SR</th><th>KW</th><th>GW</th>
            </tr>
            <tr>
              <td><input type="text" name="data.attr2.gk.value"  value="{{data.attr2.gk.value}}"/></td>
              <td><input type="text" name="data.attr2.gsw.value" value="{{data.attr2.gsw.value}}"/></td>
              <td><input type="text" name="data.attr2.lp.value"  value="{{data.attr2.lp.value}}"/></td>
              <td><input type="text" name="data.attr2.fo.value"  value="{{data.attr2.fo.value}}"/></td>
              <td><input type="text" name="data.attr2.vtd.value" value="{{data.attr2.vtd.value}}"/></td>
              <td><input type="text" name="data.attr2.sr.value"  value="{{data.attr2.sr.value}}"/></td>
              <td><input type="text" name="data.attr2.kw.value"  value="{{data.attr2.kw.value}}"/></td>
              <td><input type="text" name="data.attr2.gw.value"  value="{{data.attr2.gw.value}}"/></td>
            </tr>
          </table>
          <table>
            <tr class="head">
              <th>Waffe</th><th>Wert</th><th>Schaden</th><th>wGS</th><th>INI</th><th>Merkmale</th>
            </tr>
          </table>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">{{localize "SIMPLE.AttributeKey"}}</span>
                <span class="attribute-label">{{localize "SIMPLE.AttributeLabel"}}</span>
                <span class="attribute-value">{{localize "SIMPLE.AttributeValue"}}</span>
            </header>
            <section class="attributes-group">
                <ol class="attributes-list">
                    {{#each data.attributes as |attr key|}}
                    <li class="attribute flexrow" data-attribute="{{key}}">
                        <div class="attribute-key-wrapper flexrow">        
                            <input class="attribute-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}" placeholder="{{localize 'SIMPLE.AttributeKey'}}"/>
                        </div>
                        <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}"
                            data-dtype="{{attr.dtype}}" placeholder="{{localize 'SIMPLE.AttributeValue'}}"/>
                        <input class="attribute-label" type="text" name="data.attributes.{{key}}.label" value="{{attr.label}}"
                            placeholder="{{localize 'SIMPLE.AttributeLabel'}}"/>
                    </li>
                    {{/each}}
                </ol>
            </section>
            <!-- {{!-- Render the attribute list partial. --}}
            {{> "systems/splittermond/templates/parts/sheet-attributes.html" attributes=data.attributes dtypes=dtypes}}          -->
        </div>
    </section>
</form>