<form class="flexcol {{cssClass}}" autocomplete="off">


    {{!-- Sheet Body --}}
    <section class="sheet-body">

		  <h2>{{localize (concat (concat "spell." data.id) ".name")}}</h2>
		  <h4>{{data.references}}</h4>
		  <dl>
		    <dt>Schulen</dt><dd>{{data.schools}} {{_id}}</dd>
		    
		    <dt>Typus</dt>
		    <dd>{{data.types}}</dd>
		    
		    <dt>Schwierigkeit</dt>
		    <dd>{{#switch data.diff}} 
            {{#case -1}} VTD {{/case}} 
            {{#case -2}} GW {{/case}} 
            {{#case -3}} KW {{/case}} 
            {{#default data.diff }}  {{/default}}
        {{/switch}}</dd>
		    
		    <dt>Kosten</dt>
		    {{#iff data.costK ">" 0}}
		      <dd>K{{math data.costK "+" data.costV}}V{{data.costV}}</dd>
		    {{/iff}}
		    {{#iff data.costK "==" 0}}
		      <dd>{{math data.costE "+" data.costV}}V{{data.costV}}</dd>
		    {{/iff}}
		    
		    <dt>Zauberdauer</dt>		    
		    <dd>{{data.casttime}}</dd>
		    
			<dt>Reichweite</dt>	
			{{#if editable}}	    
			<dd><input type="text" value="{{data.castrange}}" name="data.castrange"/></dd>
			{{else}}
			<dd>{{data.castRange}}</dd>
			{{/if}}
		    <dt>Wirkung</dt>
		    <dd>{{localize (concat (concat "spell." data.id) ".desc")}}</dd>	    
		    
		    <dt>Wirkungsdauer</dt>
		    <dd>{{data.effDur}}</dd>
		    
		    <dt>Wirkungsbereich</dt>
		    <dd>{{data.effRange}}</dd>
		    
		    <dt>Erfolgsgrade</dt>
		    <dd><br>
		      <ul>
		      <li>Auslösezeit, Kanalisierter Fokus, Verzehrter Fokus, Wirkungsbereich, Schaden</li>
		      <li>? EG/+?: {{localize (concat (concat "spell." data.id) ".enhan")}}</li>
		      </ul>
		      </dd>
		      </dl>
    </section>
</form>