<form class="flexcol {{cssClass}} character" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100px" width="100px" />
        <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <table>
              <tr>
                <th></th>
                <th style="width: 2.5em">Max</th>
                <th style="width: 2.5em">Akt.</th>
                <th style="width: 2.5em">Kan.</th>
                <th style="width: 2.5em">Ersch</th>
                <th style="width: 2.5em">Verz</th>
                <th colspan="6">
                	<input id="btnShortRest" type="button" name="shortRest" value="Verschnaufen">
                	<input id="btnLongRest"  type="button" name="longRest"  value="Ruhephase">                
                </th>
              </tr>
              <tr>
                <th>Lebenspunkte</th>
                <td style="width: 2.5em"><input type="text" name="data.attr2.lp.max"  value="{{data.attr2.lp.max}}"  id="dataLEmax"  class="calcLE"/></td>
                <td style="width: 2.5em"><input type="text" name="data.attr2.lp.cur"  value="{{data.attr2.lp.cur}}"  id="dataLEcur" disabled /></td>
                <td style="width: 2.5em"><input type="text" name="data.attr2.lp.kan"  value="{{data.attr2.lp.kan}}"  id="dataLEkan"  class="calcLE"/></td>
                <td style="width: 2.5em"><input type="text" name="data.attr2.lp.ers"  value="{{data.attr2.lp.ers}}"  id="dataLEers"  class="calcLE"/></td>
                <td style="width: 2.5em"><input type="text" name="data.attr2.lp.verz" value="{{data.attr2.lp.verz}}" id="dataLEverz" class="calcLE"/></td>
                <td id="barLEMax" colspan="6">
                  <div id="barLEVerz">
                    <div id="barLEKan">
                  	  <div id="barLECur">{{data.le.cur}}/{{data.le.max}}</div>
                    </div>
                  </div>
                </td>
              </tr>
               <tr>
                <th>Fokus</th>
                <td><input type="text" name="data.attr2.fo.max"  value="{{data.attr2.fo.max}}"  id="dataFOmax" /></td>
                <td><input type="text" name="data.attr2.fo.cur"  value="{{data.attr2.fo.cur}}"  id="dataFOcur"  disabled /></td>
                <td><input type="text" name="data.attr2.fo.kan"  value="{{data.attr2.fo.kan}}"  id="dataFOkan" /></td>
                <td><input type="text" name="data.attr2.fo.ers"  value="{{data.attr2.fo.ers}}"  id="dataFOers"  /></td>
                <td><input type="text" name="data.attr2.fo.verz" value="{{data.attr2.fo.verz}}" id="dataFOverz" /></td>
                <td id="barFOMax" colspan="6">
                  <div id="barFOVerz">
                    <div id="barFOKan">
                  	  <div id="barFOCur">{{data.fo.cur}}/{{data.fo.max}}</div>
                    </div>
                  </div>
                </td>
              </tr>
               <tr>
                <th>Splitterpunkte</th>
                <td><input type="text" name="data.sp.max" value="{{data.sp.max}}"/></td>
                <td><input type="text" name="data.sp.cur" value="{{data.sp.cur}}"/></td>
                <th colspan="3" style="text-align: right">Widerstände</th>
                <th>VTD</th>
                <td><input type="text" name="data.attr2.vtd.cur" value="{{data.attr2.vtd.cur}}" style="width: 2.5em"/></td>
                <th>KW</th>
                <td><input type="text" name="data.attr2.kw.cur" value="{{data.attr2.kw.cur}}" style="width: 2.5em"/></td>
                <th>GW</th>
                <td><input type="text" name="data.attr2.gw.cur" value="{{data.attr2.gw.cur}}" style="width: 2.5em"/></td>
              </tr>
            </table>
             {{!-- Character Summary --}}
            <ul class="charname">
                <li>
                   
                </li>
            </ul>
        </div>
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attribute</a>
        <a class="item " data-tab="skills">Fertigkeiten</a>
        <a class="item" data-tab="fight">Kampf</a>
        <a class="item" data-tab="magic">Magie</a>
        <a class="item" data-tab="inventory">Ausrüstung</a>
        <a class="item" data-tab="biography">Hintergrund</a>
    </nav>
      
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Ferttigkeiten Tab --}}
        <div class="tab" data-group="primary" data-tab="skills">
            {{> "systems/splittermond/templates/parts/pc-skills.html" skills=data.skills}}
        </div>

        {{!-- Kampffertigkeiten Tab --}}
        <div class="tab" data-group="primary" data-tab="fight">
            {{> "systems/splittermond/templates/parts/pc-fightskills.html" skills=data.skills weapon-list=data.weapons longrange-list=data.longrangeweapons}}
        </div>

        {{!-- Magie Tab --}}
        <div class="tab" data-group="primary" data-tab="magic">
            {{> "systems/splittermond/templates/parts/pc-magicskills.html" skills=data.skills spells=data.spells}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab" data-group="primary" data-tab="biography">
            Biographie
            {{> "systems/splittermond/templates/parts/pc-biography.html"}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab" data-group="primary" data-tab="inventory">
          {{> "systems/splittermond/templates/parts/pc-items.html" item-list=data.normalItems}}
        </div>

        {{!-- Attribute Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
            Attribute
            {{> "systems/splittermond/templates/parts/sheet-attributes.html" powers=data.powers resources=data.resources weaknesses=data.weaknesses}}
        </div>
    </section>
</form>