/*@import url("https://unpkg.com/augmented-ui@2/augmented-ui.min.css")*/
@import 'https://unpkg.com/augmented-ui@1/augmented.css';

.window-app .window-content {
	background-image: url("../images/background.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}

.sheet header.sheet-header {
	align-items: normal;
}
.sheet header.sheet-header img {
  flex: 0 0 120px;
  height: 120px;
}

.splittermond .sheet-header img {
	height: 120px;
}

.diagonal-stripe-4 {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSdibGFjaycvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzMnLz4KPC9zdmc+");
  background-repeat: repeat;
}
.splittermond input[type=button] {
  background-color: #9BD1F5;
  border: solid black 1px;
  cursor: pointer;
}
.splittermond input[type=button]:hover {
  background-color: #00B0ff;
}

.splittermond .attribute-table {
	font-size: small;
}
.splittermond .attribute-table .head {
    background-color: #9BD1F5;
	text-align: center;
}
.head {
    background-color: #9BD1F5;
	text-align: center;
}

#barLEMax {
    width: 20rem;
    background-color: transparent;
}
#barLEVerz {
    background-color: lightgreen;
    width: 60%;
    height: 100%;
}
#barLEKan {
    width: 80%;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, green 5px, green 10px);
  background-repeat: repeat;
}
#barLECur {
    background-color: green;
    width: 60%;
    height: 100%;
    text-align: center;
}

#barFOMax {
    width: 20rem;
    margin-top: 1.5rem;
    background-color: transparent;
}
#barFOVerz {
    background-color: lightblue;
    width: 80%;
}
#barFOKan {
    width: 80%;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, blue 5px, blue 10px);
  background-repeat: repeat;
}
#barFOCur {
    background-color: blue;
    text-align: center;
    color: white;
}
.splittermond table th {
  padding-left: 5px;
  padding-right: 5px;
}

  .splittermond .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
  }
  .splittermond form {
    height: 100%;
  }
  .splittermond .sheet-header {
    flex: 0 0 180px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
.splittermond .sheet-header .profile-img {
   align-content: flex-start;
    justify-content: flex-start;
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }
  .splittermond .sheet-header .header-fields {
    flex: 1;
    height: 180px;
  }
  .splittermond .sheet-header h1.charname {
    height: 40px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
  }
  .splittermond .sheet-header h1.charname input {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .splittermond .resource {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    float: left;
    text-align: center;
  }
  .splittermond .resource input {
    width: 100px;
    height: 28px;
  }
  .splittermond .tabs {
    flex: 0 0 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
  }
  .splittermond .tabs .item {
    line-height: 40px;
    font-weight: bold;
  }
  .splittermond .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
  }
  .splittermond .sheet-body {
    overflow: hidden;
    height: 600px;
  }
  .splittermond .sheet-body .tab {
    height: 100%;
    overflow-y: auto;
  }
  .splittermond .editor,
  .splittermond .editor-content {
    height: 100%;
  }
  .splittermond .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
  }
  .splittermond .item-list .item {
    min-height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
    align-items: stretch;
  }
  .splittermond .item-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
  }
  .splittermond .item-list .item-name {
    margin: 0;
  }
  .splittermond .item-list .item-controls {
    flex: 0 0 36px;
  }
  .splittermond .item-list .item-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex: 2;
    justify-content: flex-start;
  }
  .splittermond .item-list .item-button {
    line-height: 1;
    font-size: 11px;
    flex: none;
    width: auto;
  }
  .splittermond .attributes {
    position: relative;
  }
  .splittermond .attributes .attribute-control,
  .splittermond .attributes .group-control {
    flex: 0 0 20px;
    text-align: center;
    line-height: 28px;
    border: none;
  }
  .splittermond .attributes .attribute-roll {
    flex: 0 0 20px;
    text-align: center;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .splittermond .attributes .group-prefix {
    height: 31px;
    margin-right: 10px;
  }
  .splittermond .attributes .button {
    width: 100%;
    flex: 1;
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove #f0f0e0;
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    display: block;
  }
  .splittermond .attributes .attribute-key {
    background: transparent;
    border: none;
  }
  .splittermond .attributes-header {
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 5px;
    margin: 5px 0;
    background: #cfcdc2;
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: left;
    font-weight: bold;
  }
  .splittermond .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .splittermond .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
  }
  .splittermond .attributes-list .attribute-col label {
    font-size: 10px;
    text-align: center;
    line-height: 1;
  }
  .splittermond .attributes-list .attribute-col input {
    font-size: 11px;
    text-align: center;
    line-height: 1;
    height: 50%;
  }
  .splittermond .attribute input[type="text"]::placeholder,
  .splittermond .group-header input[type="text"]::placeholder {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
  .splittermond .attribute input[type="text"]:focus::placeholder,
  .splittermond .group-header input[type="text"]:focus::placeholder {
    opacity: 1;
  }
  .splittermond .group-controls {
    margin: 5px;
  }
  .splittermond .groups-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .splittermond .group {
    margin: 5px 0 0;
    padding: 0;
  }
  .splittermond .group-header {
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    padding: 2px 5px;
  }
  .splittermond .group-key,
  .splittermond .group-label {
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #AAA;
    background: transparent;
    border-radius: 0;
    margin-right: 6px;
  }
  .splittermond .group-key {
    opacity: 0.75;
  }
  .splittermond .group-label {
    flex: 2;
  }
  .splittermond .group-dtype {
    height: 24px;
    flex: 0 0 116px;
    margin: 0 5px;
  }
  .splittermond.sheet.actor {
    min-width: 560px;
    min-height: 420px;
  }
  .splittermond.sheet.item {
    min-width: 460px;
    min-height: 400px;
  }

  .dice-roll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-around;
  }
  .dice-roll > * {
    flex: 1;
  }
  .dice-roll > .flex0 {
    display: block;
    flex: 0;
  }
  .dice-roll > .flex1 {
    flex: 1;
  }
  .dice-roll > .flex2 {
    flex: 2;
  }
  .dice-roll > .flex3 {
    flex: 3;
  }
  .dice-roll .dice-result,
  .dice-roll .dice-tooltip {
    flex: 0 0 100%;
  }
  .dice-roll .dice-tooltip {
    order: 1;
  }
  .dice-roll .dice-result {
    order: 2;
  }
  .dice-roll .dice-formula,
  .dice-roll .dice-total {
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    word-break: break-all;
  }
  .dice-roll .dice-formula {
    margin-bottom: 5px;
  }
  .dice-roll .dice-total {
    flex: 0;
    font-size: 20px;
    font-weight: bold;
  }
  .dice-roll .dice-total.success {
    color: green;
  }
  .dice-roll .dice-total.failure {
    color: red;
  }
  .dice-roll .dice-tooltip {
    display: none;
  }
  /** Inline Roll Tooltip */
  .inline-roll .dice-tooltip {
    width: 280px;
    position: fixed;
    background: url(../ui/parchment.jpg) repeat;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 5px 0;
    box-shadow: 0 0 10px #000;
  }
  .inline-roll:hover .dice-tooltip {
    text-shadow: none;
  }

  .value-highlight {
    text-align: center;
    font-weight: bold;
    border: yellow;
    border-width: 1px;
    border-style: groove;
  }

/** Für Zauberbeschreibungen */  
dt {
  float: left;
  font-weight: bold;
  margin-right: 0.5em;
}

/* und noch der Doppelpunkt */
dt::after { 
  content: ": "; 
}

/* ein Clearfix für Folge-dd-Elemente */
dd::after {
  clear: left;
  content: " ";
  display: block;
}

.value {
  font-weight: bold;
  text-align: center;
}

.center {
  text-align:center;
}

.dice-tooltip .dice-rolls .roll-d10-active {
  background-image: url("../icons/d10-blue.svg");
  font-size:large;
  color: white;
}

.dice-tooltip .dice-rolls .roll-d10-inactive {
  background-image: url("../icons/d10-grey.svg");
  font-size:large;
  color: white;
}

.roll-success {
  color:teal;
}

.roll-nosuccess {
  color:tomato;
}


.weapon-skillname:hover, 
.skill-name:hover,
a:hover
{
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(8, 103, 158), 0 0 0.2em rgb(8, 103, 158);
  color: white;
  cursor:  pointer;
}

.dice_icon:hover,
.dice_icon:focus {
  box-shadow:  0 0 0.2em rgb(8, 103, 158);
  color: white;
  cursor:  pointer;
}

.dice_icon {
  width: 20px;
  line-height: 20px;
  background-image: url("../icons/d10-blue_border.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  background-color: transparent;
  align-content: center;
}

.splittermond .attribute-value {
  text-align: center;
}

.space-table td {
  padding-left: 2px;
  padding-right: 2px;
}

.splimo-collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 6px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
}

/* Style the collapsible content. Note: hidden by default */
.content-collapsible {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.splittermond .splimo-collapsible .active, .collapsible:hover {
  background-color: #ccc;
}

.splimo-collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

 /* The switch - the box around the slider */
 .splimo-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height:14px;
}

/* Hide default HTML checkbox */
.splimo-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.splimo-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.splimo-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.splittermond input:checked + .splimo-slider {
  background-color: #2196F3;
}

.splittermond input:focus + .splimo-slider {
  box-shadow: 0 0 1px #2196F3;
}

.splittermond input:checked + .splimo-slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.splimo-slider.round {
  border-radius: 6px;
}

.splimo-slider.round:before {
  border-radius: 50%;
} 


.splittermond form.character .attributes {
    height: 5.25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1rem; }
      
.splittermond form.character .attributes .attribute {
      min-width: 5.25rem;
      text-align: center;
      padding: .25rem;
      display: flex;
      flex-flow: column nowrap;
      justify-items: flex-start;
      --aug-t: 150px;
      --aug-border: 1px;
      --aug-inset: 2px;
      --aug-border-bg: rgb(82, 81, 78);
      --aug-inset-bg: rgba(255, 255, 255, 0);
      --aug-b-width: 33%;
      --aug-b-height: 10px;
      position: relative;
     }
.splittermond .attributes .attribute p {
        text-align: center;
        font-weight: bold;
        margin: 0; }
.splittermond .attributes .attribute span {
        font-size: 1.125rem;
        margin-top: .25rem; }
.splittermond .attributes .attribute .field {
        display: flex;
        flex-flow: column nowrap; }
.splittermond .attributes .attribute input::placeholder,
.splittermond .attributes .attribute label {
        font-size: .75rem; }
.splittermond .attributes .attribute .field:nth-of-type(1) {
        font-size: .89rem;
        position: absolute;
        width: 2em;
        bottom: 0;
        left: 0; }
.splittermond .attributes .attribute .field:nth-of-type(2) {
        font-size: .89rem;
        position: absolute;
        width: 2em;
        bottom: 0;
        right: 0; }

.splittermond .pitch-mixin {
    --aug-tr: 25px;
    --aug-b-extend1: 50%;

    --aug-border-all: 7px;
    --aug-border-bg: radial-gradient(
      at top, gold 25%, transparent 50%),
      url("/img/what_a_save.gif") 50% 50% / 100% 100%;

    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(gold, black);
    --aug-inlay-opacity: 0.5;
  }

.splittermond .attributes .attributeX .field:nth-of-type(1) {
        font-size: .89rem;
        position: absolute;
        width: 2em;
        bottom: 0;
        left: 0; }
.splittermond .attributes .attributeX .field:nth-of-type(2) {
        font-size: .89rem;
        position: absolute;
        width: 2em;
        bottom: 0;
        right: 0; }

