<section><div>
    <table>
    <tr>
        <th>
           Spezies
        </th>
        <td>
            <input type="text" name="data.biography.race" value="{{data.biography.race}}"/>
        </td>
        <th>
            Kultur
        </th>
        <td>
            <input type="text" name="data.biography.culture" value="{{data.biography.culture}}"/>
        </td>
    </tr>
    <tr>
        <th>
            Abstammung
        </th>
        <td>
            <input type="text" name="data.biography.background" value="{{data.biography.background}}"/>
        </td>
        <th>
            Ausbildung
        </th>
        <td>
            <input type="text" name="data.biography.education" value="{{data.biography.education}}"/>
        </td>
    </tr>
</table>
</section>

{{editor content=data.biography.description target="data.biography.description" button=true owner=owner editable=editable}}
</div>