<section>
    <!--button type="button" class="splimo-collapsible">Kampf - Aktionen</button>
    <div class="content-collapsible"-->
    <button type="button">Kampf - Aktionen</button>
    <div>
        <table cellspacing="4">
            <tr>
                <th colspan="2" class="head" width="33%">Angriff</th>
                <th colspan="2" class="head" width="33%">Schild</th>
                <th colspan="2" class="head" width="33%">Ausweichen</th>
            </tr>
            <tr>
                <td><img src="systems/splittermond/icons/broadsword.png" width="64" height="64" style="border: 0px" />
                </td>
                <td valign="top">
                    <!-- Hier noch dafür Sorgen, dass Name der Waffe, die Fertigkeit und der aktuelle Wert stehen
  	  	  und dass ein Würfel-Button existiert. -->
                    Waffe: <br />
                    <span type="text">{{actor.primaryWeaponName}}/{{actor.primaryWeaponSkillName}}</span><br />
                    <button type="button" class="dice_icon rollable weapon-skillname"
                        data-item="{{actor.primaryWeaponId}}">&nbsp;&nbsp;</button>

                </td>
                <td><img src="systems/splittermond/icons/attached-shield.png" width="64" height="64"
                        style="border: 0px" />
                </td>
                <td valign="top">
                    <input type="button" value="Schildstoß" onclick="pcAction('schildstoß')" />
                </td>
                <td><img src="systems/splittermond/icons/dodging.png" width="64" height="64" style="border: 0px" /></td>
                <td style="vertical-align: top; horizontal-align: left; line-height: 2">
                    <input type="button" value="Ausweichen" onclick="pcAction('ausweichen')" />
                    <input type="button" value="Ausweichsprung" onclick="pcAction('ausweichsprung')" />
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <!--button type="button" class="splimo-collapsible">Kampf - Fertigkeiten</button>
    <div class="content-collapsible"-->
    <button type="button">Kampf - Fertigkeiten</button>
    <div>
        <table class="attribute-table space-table filterable" filtercol="1">
            <tr class="head">
                <th style="width: 12em">
                    Fertigkeit
                </th>

                <th style="width: 2.5em">
                    Pkt
                </th>
                <th>
                    Meisterschaften
                </th>
                <th style="text-align: right;">
                    <label class="splimo-switch" >
                        <input type="checkbox" class="skill-filter">
                        <span class="splimo-slider round"></span>
                    </label>
                </th>
            </tr>
            {{#each skills as |skill id|}}
            {{#iff skill.type '==' 'combat'}}
            <tr>
                <td>
                    <span class="attribute-value attribute-key rollable skill-name" type="text"
                        data-skill="{{id}}">{{skill.name}}
                </td>
                <td>
                    <input class="attribute-value" type="number" name="data.skills.{{id}}.points"
                        value="{{skill.points}}" />
                </td>
                <td colspan="2">
                    <input type="text" name="data.skills.{{id}}.masterships" value="{{skill.masterships}}" />
                </td>
            </tr>
            {{/iff}}
            {{/each}}
        </table>
    </div>
</section>
<section>
    <!--button type="button" class="splimo-collapsible">Nahkampfwaffen</button>
    <div class="content-collapsible"-->
    <button type="button" >Nahkampfwaffen</button>
    <div>
        <table class="item-list space-table">
            <tr class="head">
                <th style="width: 3">
                    Prim.
                </th>
                <th style="width: 12em">
                    Name
                </th>
                <th style="width: 3em">
                    Fertigkeit
                </th>
                <th style="width: 3em">
                    Attr
                </th>
                <th style="width: 2em">
                    Mod
                </th>
                <th style="width: 2em">
                    Wert
                </th>
                <th style="width: 2em">
                    &nbsp;
                </th>
                <th style="width: 3em">
                    Schaden
                </th>
                <th style="width: 3em">
                    Geschw.
                </th>
                <th style="width: 12em">
                    Merkmale
                </th>
                <th></th>
            </tr>
            {{#each weapon-list as |item id|}}
            {{#iff item.type '==' 'weapon'}}
            <tr class="item list-item" data-item-id="{{item._id}}">
                <td>
                    {{#if item.data.primary}}
                    <input type="radio" name="primary" value="{{item.data.primary}}" class="primary-weapon" checked />
                    {{else}}
                    <input type="radio" name="primary" value="{{item.data.primary}}" class="primary-weapon" />
                    {{/if}}
                </td>
                <td>
                    <span type="text">{{item.name}}</span>
                </td>
                <td>
                    {{lookup ../config.fightskills item.data.skill}}
                </td>
                <td>
                    <span class="attribute-value">{{localize (concat "sm.attr." item.data.attribute1)}}/{{localize
                        (concat
                        "sm.attr." item.data.attribute2)}}</span>
                </td>
                <td>
                    <input class="attribute-value weapon-mod" value="{{item.data.skillMod}}" type="number" />
                </td>
                <td>
                    <input class="attribute-value" style="font-weight: bold;" disabled value="{{item.data.skillValue}}"
                        type="number" />
                </td>
                <td>
                    <button type="button" class="dice_icon rollable weapon-skillname" data-item-type="melee"
                        data-item="{{id}}">&nbsp;&nbsp;</button>
                </td>
                <td>
                    <input class="attribute-value weapon-damage" value="{{item.data.damage}}" type="text" />
                </td>
                <td>
                    <input class="attribute-value weapon-speed" value="{{item.data.speed}}" type="number" />
                </td>
                <td>
                    {{item.data.features}}
                </td>
                <td>
                    <a class="item-control item-delete" title='Entfernen'><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/iff}}
            {{/each}}
        </table>
    </div>
</section>
<section>
    <!--button type="button" class="splimo-collapsible">Nahkampfwaffen</button>
    <div class="content-collapsible"-->
    <button type="button" >Fernkampfwaffen</button>
    <div>
        <table class="item-list space-table">
            <tr class="head">
                <th style="width: 12em">
                    Name
                </th>
                <th style="width: 3em">
                    Fertigkeit
                </th>
                <th style="width: 3em">
                    Attr
                </th>
                <th style="width: 2em">
                    Mod
                </th>
                <th style="width: 2em">
                    Wert
                </th>
                <th style="width: 2em">
                    &nbsp;
                </th>
                <th style="width: 3em">
                    Schaden
                </th>
                <th style="width: 3em">
                    Geschw.
                </th>
                <th style="width: 3em">
                    Reichw.
                </th>
                <th style="width: 12em">
                    Merkmale
                </th>
                <th></th>
            </tr>
            {{#each longrange-list as |item id|}}
            {{#iff item.type '==' 'weapon'}}
            <tr class="item list-item" data-item-id="{{item._id}}">
                <td>
                    <span type="text">{{item.name}}</span>
                </td>
                <td>
                    {{lookup ../config.fightskills item.data.skill}}
                </td>
                <td>
                    <span class="attribute-value">{{localize (concat "sm.attr." item.data.attribute1)}}/{{localize
                        (concat
                        "sm.attr." item.data.attribute2)}}</span>
                </td>
                <td>
                    <input class="attribute-value weapon-mod" value="{{item.data.skillMod}}" type="number" />
                </td>
                <td>
                    <input class="attribute-value" style="font-weight: bold;" disabled value="{{item.data.skillValue}}"
                        type="number" />
                </td>
                <td>
                    <button type="button" class="dice_icon rollable weapon-skillname" data-item-type="longrange"
                        data-item="{{id}}">&nbsp;&nbsp;</button>
                </td>
                <td>
                    <input class="attribute-value weapon-damage" value="{{item.data.damage}}" type="text" />
                </td>
                <td>
                    <input class="attribute-value weapon-speed" value="{{item.data.speed}}" type="number" />
                </td>
                <td>
                    <input class="attribute-value weapon-range" value="{{item.data.range}}" type="number" />
                </td>
                <td>
                    {{item.data.features}}
                </td>
                <td>
                    <a class="item-control item-delete" title='Entfernen'><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/iff}}
            {{/each}}
        </table>
    </div>
</section>