<section>
    <table class="item-list" style="width:100%">
        <tr class="head">
            <th style="width: 12em">
                Name
            </th>
            <th style="width: 3em">
                Last
            </th>
            <th style="width: 3em">
                Art
            </th>
            <th style="width:50%;"></th>
        </tr>
        {{#each item-list as |item id|}}
        {{#iff item.type '==' 'normal'}}
        <tr class="item list-item" data-item-id="{{item._id}}">
            <td>
                <span type="text">{{item.name}}
            </td>
            <td>
                {{item.load}}
            </td>
            <td>
                {{item.type}}
            </td>
            <td style="text-align: right;">
                <a class="item-control item-delete" title='Entfernen'><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {{/iff}}
        {{/each}}
    </table>
</section>