<section>
    <button type="button">Zauber</button>
    <div>
        <table class="attribute-table space-table">
            <!-- Zauber Schule Wert Schw Fokus ZD RW WD Verstärkung Bem.-->
            <tr class="head">
                <th style="width: 20%">
                    Zauber
                </th>
                <th style="width: 10%">
                    Schule
                </th>

                <th style="width: 5%">
                    Wert
                </th>
                <th style="width: 2em">&nbsp;</th>
                <th style="width: 5%">
                    Schw.
                </th>
                <th style="width: 8%">
                    Fokus
                </th>
                <th style="width: 5%">
                    ZD
                </th>
                <th style="width: 5%">
                    RW
                </th>
                <th style="width: 5%">
                    WD
                </th>
                <th style="width: 5%">
                    Verstärkung
                </th>
                <th class="item-controls flexrow">
                    <a class="item-control spell-create" title="Neuen Zauber hinzufügen">
                        <i class="fas fa-plus"></i>
                    </a>
                </th>
            </tr>
            {{#each this.spells as |spell id|}}
            <tr class="item list-item" data-item-id="{{spell._id}}">
                <td>
                    <span class="attribute-value attribute-key rollable spell-name" type="text"
                        data-spell="{{id}}" data-skillName="{{spell.skill}}" title="{{localize (concat (concat "spell." data.id) ".desc")}}">{{spell.name}}</span>
                </td>
                <td>
                    {{spell.data.skillName}}
                </td>
                <td>
                    <input class="attribute-value" style="font-weight: bold;" disabled value="{{spell.data.skillValue}}"
                        type="number" />
                </td>
                <td>
                    <button type="button" class="dice_icon rollable spell-skillname"
                        data-item="{{id}}">&nbsp;&nbsp;</button>
                </td>
                <td>
                    <input class="attribute-value value" type="text" name="data.spells.{{id}}.diff"
                        value="{{spell.data.diffText}}" disabled />
                </td>
                <!-- Fokus -->
                <td>
                  {{#iff spell.data.costK '>' 0}}
                  K{{spell.data.costK}}{{else}}{{spell.data.costE}}{{/iff}}{{#iff spell.data.costV '>' 0}}V{{spell.data.costV}}{{/iff}}
                </td>
                <td>{{spell.data.castTicks}}T</td>
                <td>{{spell.data.castRange}}</td>
                <td>{{spell.data.effDur}}</td>
                <td>
                    <a class="item-control item-edit" title='Bearbeiten'><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title='Löschen'><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>
<section>
    <button type="button">Zauber-Fertigkeiten</button>
    <div>
        <table class="attribute-table space-table filterable" filtercol="2">
            <tr class="head">
                <th style="width: 12em">
                    Fertigkeit
                </th>
                <th style="width: 3em">
                    Attr
                </th>

                <th style="width: 2.5em">
                    Pkt
                </th>
                <th style="width: 2.5em">
                    Mod
                </th>
                <th style="width: 3em">
                    Wert
                </th>
                <th style="width: 2em">&nbsp;</th>
                <th>
                    Meisterschaften
                </th>
                <th style="text-align: right;">
                    <label class="splimo-switch">
                        <input type="checkbox" class="skill-filter">
                        <span class="splimo-slider round"></span>
                    </label>
                </th>
            </tr>
            {{#each this.skills as |skill id|}}
            {{#iff skill.type '==' 'magic'}}
            <tr>
                <td>
                    <span class="attribute-value attribute-key rollable skill-name" type="text"
                        data-skill="{{id}}">{{skill.name}}
                </td>
                <td>
                    {{localize (concat "sm.attr." skill.attribute1)}}/{{localize (concat "sm.attr." skill.attribute2)}}
                </td>
                <td><input class="attribute-value" type="number" name="data.skills.{{id}}.points"
                        value="{{skill.points}}" /></td>
                <td><input class="attribute-value" type="number" name="data.skills.{{id}}.modifier"
                        value="{{skill.modifier}}" /></td>

                <td>
                    <input class="attribute-value value" type="number" name="data.skills.{{id}}.value"
                        value="{{skill.value}}" disabled />
                </td>
                <td>
                    <button type="button" class="dice_icon rollable skill-name"
                        data-skill="{{id}}">&nbsp;&nbsp;</button>
                </td>
                <td colspan="2"> <input type="text" name="data.skills.{{id}}.masterships"
                        value="{{skill.masterships}}" /></td>
            </tr>
            {{/iff}}
            {{/each}}
        </table>
    </div>
</section>