<section>
    <table class="attribute-table">
        <tr class="head">
            <th style="width: 12em">
                Fertigkeit
            </th>

            <th style="width: 3em">
                Attr
            </th>
            <th style="width: 2.5em">
                Pkt
            </th>
            <th style="width: 2.5em">
                Mod
            </th>
            <th style="width: 3em">
                Wert
            </th>
            <th style="width: 2em">
                &nbsp;
            </th>
            <th>
                Meisterschaften
            </th>
        </tr>
        {{#each skills as |skill id|}}
        {{#iff skill.type '==' 'normal'}}
        <tr>
            <td>
                <span class="attribute-value attribute-key rollable skill-name" type="text"
                    data-skill="{{id}}">{{skill.name}}</span>
            </td>
            <td>
                {{localize (concat "sm.attr." skill.attribute1)}}/{{localize (concat "sm.attr." skill.attribute2)}}
            </td>
            <td>
                <input class="attribute-value" type="number" name="data.skills.{{id}}.points"
                value="{{skill.points}}" />
            </td>
            
            <td>
                <input class="attribute-value" type="number" name="data.skills.{{id}}.modifier"
                value="{{skill.modifier}}" />
            </td>
            <td>
                <input class="attribute-value value" type="number" name="data.skills.{{id}}.value"
                value="{{skill.value}}" disabled />
            </td>
            <td>
                <button type="button" class="dice_icon rollable skill-name" data-skill="{{id}}">&nbsp;&nbsp;</button>
            </td>
            <td>
                <input type="text" name="data.skills.{{id}}.masterships"
                    value="{{skill.masterships}}" />
            </td>
        </tr>
        {{/iff}}
        {{/each}}
    </table>
</section>