<section>
	<div class="attributes">
		<div class="attribute" augmented-ui="b-clip-x exe">
         <p>AUS</p>
         <span>{{data.attr.aus.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.aus.current" value="{{data.attr.aus.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.aus.value" value="{{data.attr.aus.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.aus.mod" value="{{data.attr.aus.mod}}" placeholder="0" title="Modifikator" /></div>
      </div>
		<div class="attribute" augmented-ui="b-clip-x exe">
         <p>BEW</p>
         <span>{{data.attr.bew.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.bew.current" value="{{data.attr.bew.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.bew.value" value="{{data.attr.bew.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.bew.mod" value="{{data.attr.bew.mod}}" placeholder="0" title="Modifikator" /></div>
      </div>
		<div class="attribute" augmented-ui="b-clip-x exe">
         <p>INT</p>
         <span>{{data.attr.inn.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.inn.current" value="{{data.attr.inn.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.inn.value" value="{{data.attr.inn.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.inn.mod" value="{{data.attr.inn.mod}}" placeholder="0" title="Modifikator" /></div>
      </div>
		<div class="attribute" augmented-ui="b-clip-x exe">
         <p>KON</p>
         <span>{{data.attr.kon.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.kon.current" value="{{data.attr.kon.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.kon.value" value="{{data.attr.kon.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.kon.mod" value="{{data.attr.kon.mod}}" placeholder="0" title="Modifikator" /></div>
      </div>
		<div class="attribute" augmented-ui="b-clip-x exe">
         <p>MYS</p>
         <span>{{data.attr.mys.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.mys.current" value="{{data.attr.mys.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.mys.value" value="{{data.attr.mys.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.mys.mod" value="{{data.attr.mys.mod}}" placeholder="0" title="Modifikator" /></div>
      </div>
		<div class="attribute" augmented-ui="b-clip-x exe">
         <p>STÄ</p>
         <span>{{data.attr.sta.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.sta.current" value="{{data.attr.sta.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.sta.value" value="{{data.attr.sta.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.sta.mod" value="{{data.attr.sta.mod}}" placeholder="0" title="Modifikator" /></div>
      </div>
		<div class="attribute" augmented-ui="b-clip-x exe">
         <p>VER</p>
         <span>{{data.attr.ver.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.ver.current" value="{{data.attr.ver.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.ver.value" value="{{data.attr.ver.value}}" placeholder="base" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.ver.mod" value="{{data.attr.ver.mod}}" placeholder="0" title="Modifikator" /></div>
      </div>
		<div class="attribute" augmented-ui="b-clip-x exe">
         <p>WIL</p>
         <span>{{data.attr.wil.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.wil.current" value="{{data.attr.wil.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.wil.value" value="{{data.attr.wil.value}}" placeholder="base" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.wil.mod" value="{{data.attr.wil.mod}}" placeholder="0" title="Modifikator" /></div>
      </div>
    </div>
    <!--div class="attributes">
		<div class="attribute">
			<svg viewBox="0 0 80 80" width="200">
           <path id="curve" d="M25,12 A 10,10 0 0 1 52,44 A 10,10 180 0 1 25,12" stroke="blue" stroke-width="4" fill="transparent" />
           <text width="80">
             <textPath xlink:href="#curve">&nbsp;AUS</textPath>
           </text>
         </svg>
			<span>{{data.attr.aus.current}}</span> 
			<input type="hidden" data-dtype="Number" name="data.attr.aus.current" value="{{data.attr.aus.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.aus.value" value="{{data.attr.aus.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.aus.mod" value="{{data.attr.aus.mod}}" placeholder="0" title="Modifikator" /></div>
		</div>
		<div class="attribute" width="80">
			<svg viewBox="0 0 80 80">
           <path id="curve" d="M25,12 A 10,10 0 0 1 52,44 A 10,10 180 0 1 25,12" stroke="blue" stroke-width="4" fill="transparent" />
           <text width="80">
             <textPath xlink:href="#curve">&nbsp;BEW</textPath>
           </text>
         </svg>
         <span>{{data.attr.bew.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.bew.current" value="{{data.attr.bew.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.bew.value" value="{{data.attr.bew.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.bew.mod" value="{{data.attr.bew.mod}}" placeholder="0" title="Modifikator" /></div>
		</div>
		<div class="attributeX">
			<svg viewBox="0 0 80 80" width="100%">
           <path id="curve" d="M25,12 A 10,10 0 0 1 52,44 A 10,10 180 0 1 25,12" stroke="blue" stroke-width="4" fill="transparent" />
           <text width="80">
             <textPath xlink:href="#curve">&nbsp;INT</textPath>
           </text>
         </svg>
         <span>{{data.attr.inn.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.inn.current" value="{{data.attr.inn.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.inn.value" value="{{data.attr.inn.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.inn.mod" value="{{data.attr.inn.mod}}" placeholder="0" title="Modifikator" /></div>
		</div>
		<div class="attributeX">
			<svg viewBox="0 0 160 160" width="100%">
           <path id="curve" d="M50,24 A 10,10 0 0 1 104,88 A 10,10 180 0 1 50,24" stroke="blue" stroke-width="4" fill="transparent" />
           <text width="80">
             <textPath xlink:href="#curve">&nbsp;KON</textPath>
           </text>
         </svg>
         <span>{{data.attr.kon.current}}</span>
         <input type="hidden" data-dtype="Number" name="data.attr.kon.current" value="{{data.attr.kon.current}}" />
         <div class="field"><label>Pkt:</label><input type="number" data-dtype="Number" name="data.attr.kon.value" value="{{data.attr.kon.value}}" placeholder="1" title="Grundwert"  /></div>
         <div class="field"><label>mod:</label><input type="number" data-dtype="Number" name="data.attr.kon.mod" value="{{data.attr.kon.mod}}" placeholder="0" title="Modifikator" /></div>
		</div>
    </div-->
    
    <table border="0">
      <thead>
    	  <tr>
    		 <th width="48%">Stärken</th>
    		 <td width="4%">&nbsp;</td>
    		 <th width="48%">Ressourcen</th>
    	  </tr>
    	</thead>
    	
    	<tbody>
    	  <tr>
    		<td width="48%">
            <ul id="powers">
    		  {{#each this.powers as |power id|}}
            <li><span class="power-value" type="text" data-power="{{power.data-id}}">{{power.name}}</span></li>
            {{/each}}
            </ul>
    		</td>
    		<td width="4%">&nbsp;</td>
    		<td width="48%" rowspan="3">
    			<ul id="resources">
    		  {{#each this.resources as |resource id|}}
            <li><span class="resource-value" type="text" data-resourcer="{{resource.data-id}}">{{resource.name}}</span></li>
            {{/each}}
    			</ul>
    	   </td>
    	  </tr>
    	</tbody>
    	
    	<tr>
    		<th width="48%">Schwächen</th>
    	</tr>
    	<tr>
    		<td width="48%">
    			<textarea id="weakness" rows="4" cols="40">
    			</textarea>
    		</td>
    		<td width="4%"></td>
    	</tr>
    </table>
</section>